

.App {
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    background-color: lightgray;
  }

.links {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    flex: 1;
    padding: 35px;
    border: none;
    background-color: rgb(179, 193, 177);
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.links:hover {
    color: rgb(238, 238, 238);
}